<br><br>

<div class="container" *ngIf = "role == 'Owner' ">
  <form (ngSubmit) = "changeTheRole()">
    <h5>{{feedback}}</h5>
    <div class="form-group">
      <label for="role">Change Role</label>
      <select class="form-control" name="role" [(ngModel)] = 'changeRole.usertype'>
        <option *ngFor = "let role of roles" [value] = "role">{{role}}</option>
      </select>
    </div>
    <button type="submit" name="submit" class = "btn btn-primary text-center">Change Role</button>
  </form>
</div>
