

<section>
  <div class="container">
  <h3>Chat</h3>
  <div  id = "data">
  <ul>
    <li *ngFor="let message of messages">
      <div class="chat-container darker" *ngIf = "message.username == getUsername()">
        <img src="" alt="{{message.username}}" class="right">
      <p>{{message.content}}</p>
      <span class="time-left">{{message.timestamp}}</span>
    </div>
      <div class="chat-container" *ngIf = "message.username != getUsername()">
      <img src="" alt="{{message.username}}">
      <p>{{message.content}}</p>
      <span class="time-right">{{message.timestamp}}</span>
    </div>
    </li>
  </ul>
  <div class="chat-popup">
  <form class="form-container">
  <label for="chat-text">
    <b>Message</b>
  </label>
  <input type="text" placeholder="Type message here" name="chat-text" required [(ngModel)] = "scrumLoginUserModel.projectname" />
  <button type="submit" class="btn"  (click) = "sendMessage()">Send</button>
</form>
</div>
</div>
</div>
</section>
